<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>InkScroll</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/d7cff5fbbc.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">InkScroll</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/home">HOME</a></li>
        <li id="compose"><a href="/compose">POST</a></li>
        <li id="profile"><a href="/profile">PROFILE</a></li>
        <li id="logout"><a href="/logout">SIGN OUT</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">