<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Input Website</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: rgb(149, 170, 111);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      display: flex;
      align-items: center;
      margin-left: 100px;
    }

    .input-container {
      background-color: #66bb6a;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-right: 20px;
      width: 350px;
    }

    .input-label {
      color: white;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .input-slider {
      width: 100%;
      margin-bottom: 15px;
    }

    .input-select {
      width: 100%;
      padding: 8px;
      border-radius: 15px;
      border: none;
      background-color: white;
      margin-bottom: 15px;
    }

    .submit-button {
      background-color: #388e3c;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #2e7d32;
    }

    .image-container {
      flex: 1;
      text-align: center;
    }

    .image {
      max-width: 75%;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="input-container">
      <form action="/predict" method="post">
        <h1 class="input-label">What Kind of Car Do You Drive?</h1>

        <span id="mileageValue" class="value-label">Mileage: 10 kmpl</span>
        <input class="input-slider" type="range" min="0" max="20" step="0.1" value="10" id="mileage" name="mileage">

        <span id="avgDistanceValue" class="value-label">Average daily distance: 10 kmpl</span>
        <input class="input-slider" type="range" min="0" max="100" step="1" value="10" id="avgDistance" name="avgDistance">


        <label for="fuel-type" class="input-label">Fuel Type</label>
        <select class="input-select" id="fuel-type" name="fuel_type">
          <option value="premium">Premium Gas</option>
          <option value="diesel">Diesel</option>
          <option value="regular">Regular Gas</option>
          <option value="Ethanol">Ethanol</option>
          <option value="natural">Natural Gas</option>
        </select>

        <label for="vehicle-class" class="input-label">Vehicle Class</label>
        <select class="input-select" id="vehicle-class" name="vehicle_class">
          <option value="compact">Compact</option>
          <option value="sedans">Sedans</option>
          <option value="suv">SUV</option>
        </select>

        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
    <div class="image-container">
      <img class="image" src="images/electic-car.svg" alt="Image">
    </div>
  </div>

  <script>
    const mileageSlider = document.getElementById('mileage');
    const mileageValue = document.getElementById('mileageValue');
    mileageValue.textContent = `Mileage: ${mileageSlider.value} kmpl`;

    mileageSlider.addEventListener('input', () => {
      mileageValue.textContent = `Mileage: ${mileageSlider.value} kmpl`;
    });

    const avgDistanceSlider = document.getElementById('avgDistance');
    const avgDistanceValue = document.getElementById('avgDistanceValue');
    avgDistanceValue.textContent = `Average daily distance: ${avgDistanceSlider.value} km`;

    avgDistanceSlider.addEventListener('input', () => {
      avgDistanceValue.textContent = `Average daily distance: ${avgDistanceSlider.value} km`;
    });
  </script>
</body>

</html>