<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flights Input Website</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: rgb(149, 170, 111);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      display: flex;
      align-items: center;
      margin-left: 100px;
    }

    .input-container {
      background-color: #66bb6a;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-right: 20px;
      width: 350px;
    }

    .input-label {
      color: white;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .input-number {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    .number-label {
      margin-right: 10px;
      color: white;
      font-weight: 500;
    }

    .number-input {
      padding: 8px;
      border: none;
      border-radius: 15px;
      width: 50%;
      text-align: center;
    }

    .number-input:focus {
      outline: none;
    }

    .input-slider {
      width: 100%;
      margin-bottom: 15px;
    }

    .submit-button {
      background-color: #388e3c;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #2e7d32;
    }

    .image-container {
      flex: 1;
      text-align: center;
    }

    .image {
      max-width: 75%;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="input-container">
      <form action="/calculate-flight-emissions" method="post">
        <h1 class="input-label">How Many Flights Did You Take This Year?</h1>
        <div class="input-number">
          <label class="number-label" for="num-flights">Number of Flights:</label>
          <input class="number-input" type="number" min="0" value="0" id="num-flights" name="num_flights">
        </div>
        <span id="avgFlightTimeValue">Average Flight Time: 10 hours</span>
        <input class="input-slider" type="range" min="0" max="20" step="0.1" value="10" id="avg-flight-time" name="avg_flight_time">


        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
    <div class="image-container">
      <img class="image" src="images/undraw_aircraft_re_m05i.svg" alt="Image">
    </div>
  </div>

  <script>
    const avgFlightTimeSlider = document.getElementById('avg-flight-time');
    const avgFlightTimeValue = document.getElementById('avgFlightTimeValue');
    avgFlightTimeValue.textContent = `Average Flight Time: ${avgFlightTimeSlider.value} hours`;

    avgFlightTimeSlider.addEventListener('input', () => {
      avgFlightTimeValue.textContent = `Average Flight Time: ${avgFlightTimeSlider.value} hours`;
    });
  </script>
</body>

</html>