<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Residence Question</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/house.css">
</head>

<body>
  <div class="container">
    <div class="question-container">
      <form action="/calculate-house-emissions" method="post">
        <h1 class="question-label">Where Do You Live?</h1>
        <div class="residence-buttons">
          <button class="residence-button" name="residence" value="Flat" style="background-color: #388e3c;">Flat</button>
          <button class="residence-button" name="residence" value="Bungalow" style="background-color: #388e3c;">Bungalow</button>
          <button class="residence-button" name="residence" value="Duplex" style="background-color: #388e3c;">Duplex</button>
          <button class="residence-button" name="residence" value="Penthouse" style="background-color: #388e3c;">Penthouse</button>
          <button class="residence-button" name="residence" value="Mansion" style="background-color: #388e3c;">Mansion</button>
        </div>
      </form>
    </div>
    <div class="image-container">
      <img class="image" src="images/undraw_best_place_re_lne9.svg" alt="Image">
    </div>
  </div>

  <!-- ... Your existing script ... -->
</body>


</html>