<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/result.css">
  <title>Carbon Footprint Result</title>
</head>

<body>
  <div class="result-container">
    <h1 style="color: #fff;">Your Total Carbon Footprint</h1>
    <img src="images/undraw_adventure_re_ncqp.svg" alt="Carbon Footprint Image">
    <h3 style="color: #fff;">Your total carbon footprint is : <span id="carbon-value"><%= totalEmissions.toFixed(2) %> kg</span>.</h3>
  </div>
</body>

</html>