body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://e0.pxfuel.com/wallpapers/542/953/desktop-wallpaper-cartoon-space-cartoon-cartoon-earth.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  max-width: 900px;
  background-color: #66bb6a;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: black; /* Text color on the login container */
  margin-top: 20px;
}

.login-container {
  text-align: center;
}

.login-label {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 36px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 100%;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* ... other styles ... */

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ... other styles ... */

.form-group {
  margin-bottom: 20px;
  width: 100%; /* Set the width to 100% for proper alignment */
}

.form-control {
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* ... other styles ... */
