/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #66bb6a; /* Updated background color */
}

.result-container {
  text-align: center;
  background-color: #66bb6a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
}

#carbon-value {
  font-weight: bold;
  font-size: 30px;
  color: #007bff;
}
